[submodule "vim/pack/plugins/start/indentLine"]
	path = vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-bufferline"]
	path = vim/pack/plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/tlib_vim"]
	path = vim/pack/plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/pack/plugins/start/vim-addon-mw-utils"]
	path = vim/pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/plugins/start/vim-multiple-cursors"]
	path = vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/plugins/start/vim-prettier"]
	path = vim/pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
