"*":
  "atom-runner": {}
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "“”"
      "‘’"
      "«»"
      "‹›"
    ]
  core:
    disabledPackages: [
      "nrepl"
      "rails-model-schema"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 22
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7caa43af-117e-0ac3-f69a-15215e061064"
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "/^let/"
      "are"
      "/^def/"
      "fn"
      "cond"
      "condp"
      "/^if.*/"
      "/.*\\/for/"
      "for"
      "for-all"
      "/^when.*/"
      "testing"
      "doseq"
      "dotimes"
      "ns"
      "routes"
      "GET"
      "POST"
      "PUT"
      "DELETE"
      "extend-protocol"
      "loop"
      "do"
      "case"
      "with-bindings"
      "checking"
      "with-open"
    ]
  "markdown-preview-plus":
    useGitHubStyle: true
  minimap: {}
  pigments: {}
  "proto-repl":
    autoPrettyPrint: true
  react:
    enabledForAllJavascriptFiles: true
  "terminal-plus":
    core:
      workingDirectory: "Home"
    style:
      theme: "inverse"
    toggles:
      cursorBlink: false
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    autoIndent: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    scrollPastEnd: true
    tabLength: 1
