"*":
  core:
    disabledPackages: [
      "nrepl"
      "ink"
      "rails-model-schema"
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "northem-dark-atom-ui"
      "northem-dark-atom-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7caa43af-117e-0ac3-f69a-15215e061064"
  "lisp-paredit": {}
  pigments: {}
  welcome:
    showOnStartup: false
